<h1><%= @title %></h1>
<p>
    Income Tracker helps project-based freelancers calculate their hourly rate over time. The amount of "billable" hours that you spend working on a project does not include time spent on administrative tasks like invoicing and securing the job. Thus, rates including and excluding administrative time are calculated to provide both an external hourly billable rate and an internal understanding of a freelancer's overall hourly wage.
</p>
<p>
    The site contains a header, footer, color scheme, text, links, an image, a form, a button, and a table. The styling is provided by Bootstrap 4, a CSS library for creating responsive sites, so the site looks good on mobile as well. Other than that, the website is entirely Ruby on Rails. All three pages are generated using HTML embedded in a general template using the Rails templating language, and the table is generated from the contents of a database, which is described and validated by a model and passed to the view by the controller in an example of MVC architecture. Finally, the form performs a POST action to reload the page with newly updated data. In total, these components comprise a site that demonstrates the basic capabilities of the Rails framework. 
    </p>

<%= image_tag "business-people-group.png" %>
