<h1><%= @title %></h1>
<p>
    Income Tracker helps project-based freelancers calculate their hourly rate over time. The amount of "billable" hours that you spend working on a project does not include time spent on administrative tasks like invoicing and securing the job. Thus, rates including and excluding administrative time are calculated to provide both an external hourly billable rate and an internal understanding of a freelancer's overall hourly wage.
</p>
